<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue.js基本</title>
</head>
<body>
<div id="app">
  <hello-component></hello-component>
<p v-show="toggle">{{message}}</p>
<p>{{count}}</p>
<p>{{user.lastname}}</p>
<ol>
  <li v-for="lang in langs">{{lang}}</li>
</ol>
<ul>
<li v-for="(value,key) in user">{{key}}:{{value}}</li>
</ul>

<input type="text" v-bind:value="message">
<input type="text" v-model="message">
<input type="text" v-model="message">
<p><button v-on:click="onclick">click</button></p>
<p>{{now}}</p>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="js/App.js"></script>
</body>
</html>
